<p id="notice"><%= notice %></p>

  <div class="container">
    <%= form_tag({:controller=>"posts", :action=>"scrape"}, method: :post) do %>
      <%= text_field_tag :location %>
      <%= submit_tag 'Search manually', name: nil %>
    <% end %>
  </div>
  <div>
    <%= render 'filter' %>
  </div>

  <% if @posts.empty? %>
    <h3>No result found</h3>
  <% else %>
    <table class="table table-condensed donut-attributes">
      <tbody class="table-hover">
        <% @posts.each do |post| %>
          <tr address="<%= post.location %>">

            <td rowspan=5>
                <% if post.image.url.nil? %>
                  <%= image_tag 'donut_image.png', class: 'thumbnail', style:'width:100px;height:100px;' %>
                <% else %>
                  <%= image_tag post.image.url, class: 'thumbnail' %>
                <% end %>
            </td>
              <tr>
                <td class="center" style="vertical-align: middle"><%= link_to post.name, post %></td>
              </tr>
              <tr>
                <td class="center" style="vertical-align: middle"><%= number_to_phone(post.phone, area_code: true) %></td>
              </tr>
              <tr>
                <td class="center" style="vertical-align: middle"><%= post.rating %></td>
              </tr>
              <tr>
                <td class="center" style="vertical-align: middle" id="address" ><%= post.location %></td>
              </tr>

          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>

<!--  <%= link_to 'New Post', new_post_path %>-->
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails  %>
<!--
<%= image_tag 'city.png', style:'position:fixed;bottom:0px;' %>
-->
