<h4 class="sub-header">Donut resist. Resistance is futile.</h4>

<div class="form-group">
  <%= form_tag({:controller=>"posts", :action=>"scrape"}, method: :post) do %>
    <div class="form-group">
      <%= text_field_tag :location, nil, class: 'form-control input-lg text-center center-block', placeholder: 'Location', style:"width: 50%", :required => true %>
    </div>
    <div class="form-group">
      <%= submit_tag 'Show me the Donut!', name: nil, class: 'btn btn-success search-button'%>
    </div>
  <% end %>
</div>


<div class="center-block">
  <% if @posts.blank? %>
    <h3>No result found</h3>
  <% else %>
    <% @posts.each do |post| %>
    <style>
      .custom,
      {
        width: 75%;
        min-width: 400px;
        display: inline-block;
      }
      </style>
      <p id="notice"><%= notice %></p>
    <div>
      <a data-toggle="collapse" class="btn btn-lg custom-btn custom" data-parent="#accordion" href='<%= "#collapse_#{post.id}" %>' aria-expanded="false">
        <%= post.name %>
      </a>
      <div id='<%= "collapse_#{post.id}" %>' class="collapse">
        <div style="text-align:center;">
          <h2><%= post.name %></h2>

          <% if post.image.url.nil? %>
            <%= image_tag 'donut_image.png', class: 'img-circle', style:'width:15%;height:15%;' %>
          <% else %>
            <%= image_tag post.image.url, class: 'img-circle', style:"width:15%;height:15%;" %>
          <% end %>
          <h1>

            <% if ((post.rating % 1).round ==1) %>
              <% post.rating.floor.times do |el| %>
                <i class='fa fa-star' aria-hidden='true'></i>
              <% end %>

              <i class='fa fa-star-half' aria-hidden='true'></i>
            <% else %>
              <% post.rating.floor.times do |el| %>
                <i class='fa fa-star' aria-hidden='true'></i>
              <% end %>
            <% end %>

          </h1>
          <h3><%=link_to post.location, 'http://maps.google.com/?q=' + post.location, class: "donut-link"%></h3>
          <h3><%= number_to_phone(post.phone, area_code: true) %></h3>
        </div>
      </div>

    <% end %>
    </div>
  <% end %>
</div>
